[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = "*"
backtrader = "*"
matplotlib = "==3.2.2"
plotly = "*"
python-dotenv = "*"
scipy = "*"
tensorflow = "*"
sklearn = "*"
ipython = "*"
seaborn = "*"
nltk = "*"
yahoofinance = "==0.0.2"
yfinance = "*"
requests = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
